<umb-box>
  <umb-box-content>
    <h3><localize key="ipsumsGroup_generatedinoipsum"></localize></h3>
    <div class="ipsum" ng-controller="DinoIpsumController as vm">
      <div class="ipsum-search">
        <label for="paragraphs">Number of paragraphs</label>
        <input type="number" name="paragraphs" ng-model="vm.paragraphs" placeholder="5" required />
        <br/>
        <label for="words">Words per paragraph</label>
        <input type="number" name="words" ng-model="vm.words" placeholder="100" required />
      </div>
      <umb-button action="vm.getDinoIpsum()" type="button"
                  button-style="success"
                  label-key="ipsumsGroup_generatedinoipsum"></umb-button>



      <div class="umb-panel-group__details-check-description" id="dinoipsum">
      </div>
    </div>


  </umb-box-content>
</umb-box>